.block.single_image {
height: 50vw;
	background-position: center center;
	background-size: cover;
	position: relative;
	max-height: 650px;

	a{
		position: absolute;
		width: 100%;
	bottom: 0;
		top: 0;
	}
  
  
}
			