.block.featured_equipment {
  .outer-block-wrapper {
	@extend .container
  }
  .inner-block-wrapper {
	@extend .row;
  }
  /*content here*/



		h1.block-title {
			text-align: center;
			margin-bottom: 3rem;
		}


		.posts
		{
			display: flex;
			flex-direction: column;
			margin: -1*$halfgutter;
			@media (min-width: $bp_phone){

				flex-direction: row;
			}
		}
		.featured-post{
			padding: $halfgutter;
			@media (min-width: $bp_phone){
				width: 33.3333%;
			}
		}
		.thumbnail {
			display: block;
			width: 100%;
			padding-top: 60%;
			background-size: cover;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			@media (min-width: $bp_phone){

				padding-top: 66%;
			}
			.label{
				position: absolute;
				top: $halfgutter;
				right: $halfgutter;

				font-size: 1.125rem;
				transition: all .5s ease;
				padding: .5em 1.5em .4em;
				text-transform: uppercase;
				color: $color__white;
				border: none;
				&:not(:first-child){
					display: none;
				}
			}
		}

		.item {
			margin-top: 2rem;
		}
		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		.equipment-title {
			text-decoration: none;
		}
.buttons{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 2rem;
}


	}

			