@import "variables-site/variables-site";
@import "mixins/mixins-master";
@import "grid";
@import "reboot";
@import "typography/typography";


div:hover,
div:focus,
div:focus-within {
	border: dotted red 1px;
}



div.two-col {
	column-count: 2;
	column-gap: $gutter;
}