$font__main: proxima-nova,
sans-serif;
/*
$font__alt: 'Merriweather',
serif;
$font__alt: 'Cabin',
sans-serif;
$font__alt: 'Montserrat',
sans-serif;
$font__alt: 'EB Garamond',
serif;
*/

$font__alt: "Karma",
serif;
$font__code: Monaco,
Consolas,
"Andale Mono",
"DejaVu Sans Mono",
monospace;
$font__pre: "Courier 10 Pitch",
Courier,
monospace;