/*
Use this file primarily for DEFAULT posts and pages or for relatively GLOBAL styles i.e if the styles for archives will apply for multiple post types or are styles that will work for most pages. that being said, most global styles should be going on a client specific "base styles file"
*/

.sticky {
	display: block;
}

.hentry {
	margin: 0 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

p:empty {
	display: none;
	margin: 0;
}

.blog,
.archive,
.author,
.single-post {
	.back-link {
		text-align: center;
		margin-top: 1em;
	}

	&.category {
		.cat-item-all {
			background: transparent !important;
		}
	}

	.page-header {
		background-color: $color__light-gray;
		border-top: solid 0.75rem $color__bluegray__light;
		padding: 1.65rem 0;
		margin-top: .75rem;
	}

	.blog--title {
		font-size: 0;
	}

	.page-description {
		font-family: $font-alt;
		font-size: 1.1rem;
		font-style: italic;
		text-align: center;
		max-width: 55rem;

		p:last-child {
			margin: 0;
		}
	}


	.blog__categories {
		max-width: 14rem;
		padding: 0;
		position: relative;
		margin: 2rem auto .5rem;
		display: block;


		input[type=checkbox] {
			display: none;
		}

		.categories__label,
		a {
			font-family: $font-alt;
			font-style: italic;
			font-size: 14px;
			font-weight: 400;
			color: $color__gray--dark;
			line-height: 3;
			padding: 0 18px;
		}

		.categories__label,
		ul {
			border: solid 1px lighten($color__gray, 20%);
			border-radius: 6px;

			background: $color__white;
		}

		.categories__label {
			margin: 0;
			transition: all .5s;
			width: 100%;
			height: 100%;
			display: block;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			position: relative;

			&:hover {
				cursor: pointer;
				cursor: hand;
				opacity: 1;
			}

			&:after {
				position: absolute;
				right: 20px;
				top: 10%;
				content: url('../../assets/images/red-arrow.png');
				display: block;
				transform: scaleY(-1);
			}


		}



		input[type=checkbox]:checked~.categories__label {

			.sort-by {
				display: inline;
			}

			span {
				opacity: 1;
			}

			&:after {
				opacity: 1;
				transform: scaleY(1);
				top: 0;
			}


		}

		ul {
			display: none;
			padding: 0;
			margin: 0;
			list-style: none;
			position: absolute;
			z-index: 10;
			top: calc(100% + 1px);
			width: 100%;
			overflow: hidden;

			li {
				margin: 0;

				&:before {
					display: none;
				}

				&:hover {
					cursor: pointer;
					cursor: hand;
				}

				&:last-child {}
			}

			.current-cat,
			.cat-item-all {
				background: $color__light-gray;
			}

			a {
				display: block;
				text-decoration: none;



				&:focus {
					outline: none;
				}

				a:visited {

					color: $color__gray--dark;
				}

				&:hover {
					color: $color__red;
					text-decoration: underline;
				}
			}
		}

		input[type=checkbox]:checked~ul {
			display: block
		}
	}

	.outer-post-wrapper {
		padding-top: 3rem;

		.post-thumbnail {
			position: relative;
			margin-bottom: 3rem;
		}



		.post-thumbnail img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}

		.title,
		h1.title {
			text-align: center;

			h1 {
				margin-bottom: .9rem;
			}

			& h1:after {
				display: none;
			}

		}

		.post-meta {

			margin-bottom: 3.2rem;
			font-family: $font-alt;
			font-size: 1.1rem;
			line-height: 1.227272727;
			font-weight: 500;
			text-align: center;
			color: $color__bluegray;


			span {
				display: inline-block;
			}

			span:not(:last-child):after {

				content: '|';
				display: inline;
				padding: 0 .75em;

			}
		}
	}

	p .moretag {
		&:before {
			display: inline;
			content: "> ";
		}

		&:after {
			display: none !important;
		}
	}

	.nav-links {
		margin: 0 auto 3rem;
		max-width: 25rem;
		display: flex;
		justify-content: space-between;
		font-family: $font-alt;
		font-size: 1.2rem;
		font-weight: 600;

		a,
		a:visited {
			font-weight: inherit;
			color: $color__bluegray;

			&:hover {
				color: $color__red;
			}
		}

		.current {
			color: $color__red;
		}
	}
}

.single-post {
	.page-header {
		margin-top: 0;
		padding: 1.8rem 0;
	}


	h1.title {
		margin-bottom: .9rem;

		&:after {
			display: none;
		}
	}

	.tags {
		margin: 1.75rem .35rem*-1;
		font-size: .8rem;
		font-family: $font-alt;

		&:before {
			content: 'Tags';
			display: inline;
			padding: 0 1rem 0 0;
			float: left;
			margin: .35em;
			font-size: 1rem;
			font-family: $font-alt;
		}

		li {
			&:before {
				display: none
			}

		}

		a {
			background-color: $color__bluegray--light;
			padding: .5em 1em;
			margin: .35em;
			float: left;
			color: $color__gray--dark;
			text-transform: uppercase;
			font-size: .8rem;
			font-family: $font-alt;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.author-box {
		padding: 2.75rem 0;
		border: solid 1px black;
		border-left: 0;
		border-right: 0;
		display: flex;
		flex-direction: row;

	}

	.author-thumbnail {

		padding:
			0 1em 1em 0;
		flex: 0 0 8.75rem;
	}

	.author-name {
		margin-top: -.5rem;
		margin-bottom: .5em;
		font-family: $font-alt;
		color: $color__bluegray;
		font-weight: 500;
	}

	.author-bio {
		font-family: $font-alt;
		font-weight: 400;
		font-size: .9rem;
	}

	.nav-links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 1rem !important;
		width: 100%;
		max-width: 100%;

		&>* {
			width: 45%;
			max-width: 350px;

			a,
			a:visited {
				color: $color__bluegray;

				&:hover {
					color: $color__red;
				}
			}

		}

		.nav-previous,
		.nav-next {
			display: flex;
			flex-direction: row;
			font-size: 1rem;

			a {
				;
			}
		}

		.nav-previous {



			&:before {
				display: block;
				content: '< ';
				color: $color__red;
				padding-right: .5em;
			}

		}

		.nav-next {
			text-align: right;

			&:after {
				display: block;
				content: ' >';
				color: $color__red;
				padding-left: .5em;
			}
		}


	}
}

.post-type-archive-case_study {


	.case-studies-intro {
		@extend .content;
	}


	.posts-container {
		.inner-block-wrapper {
			@extend .content;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-bottom: 4rem;
		}

	}

	.title-area-wrapper {
		display: block;
		z-index: 1;
		margin-bottom: 1.5rem;
		position: relative;
		padding-top: 75%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: left;

		&:before {
			position: absolute;
			content: '';
			display: block;
			top: 0;
			bottom: 0;
			width: 100%;
			background-color: black;
			opacity: .25;
			z-index: -1;
		}

		@media (min-width: $bp_phone) {}

		.title-area-content {
			padding: 0 1rem 1rem;
			position: absolute;
			bottom: 0;
		}

		h3 {
			margin: 0;
			color: white;
			@include fluid-type(font-size, 20px, 36px);

			font-weight: 500;
			text-align: left;
			margin-bottom: .25em;

			&:before {
				display: block;
				content: "—";
				font-size: 1.5em;
				transform: scaleY(01);
				color: $color__orange;
				line-height: 0;
				margin-bottom: 0.5em;
				text-shadow: none;
			}
		}

		&:hover {

			&:before {
				background-color: darken($color__bluegray, 25%);
				opacity: .4;

			}

			h3 {
				color: $color__orange;
			}
		}

		.term-list {
			margin: 0;
			padding: 0;


			li {
				display: inline;
				margin: 0;
				font-size: 16px;

				&:before {
					display: none
				}

				color: white;

				&:not(:first-child) {
					&:before {
						margin: 0;
						content: '|';
						display: inline;
						color: white;
						padding: 0 .5em;
					}
				}
			}
		}

	}

	.outer-post-wrapper {
		width: 100%;

		@media (min-width: $bp_phone) {
			width: calc(50% - 1rem);

		}
	}
}

.case_study {
	.entry-footer {
		hr {
			margin-top: 1.5rem;
		}

		.learn-more {
			@extend .content;
			@include fluid-type(font-size, 18px, 24px);
			font-weight: 500;
			font-family: $font-alt;
			color: $color__bluegray;
			font-style: italic;

			span {
				padding-right: .5rem;
			}

			a,
			a:visited {
				color: inherit;
				font-size: inherit;

				&:not(:last-child):after {
					content: '|';
					padding: 0 .5em;
					font-style: normal;

				}

			}

			margin-bottom: 3.5rem;
		}
	}

}