
//VMBA Colors

$color__teal: rgba(0, 169, 161, 1);
$color__teal-dark:rgba(22,67,81,1);
$color__teal-darker:rgba(0, 48, 62, 1);
$color__blue-dark:  rgba(30, 74, 83, 1);
$color__orange:  rgba(242, 105, 60, 1);
$color__green:  rgba(42, 73, 55, 1);



$color__gray-light: #f6f6f6;
$color__gray: rgba(220, 221, 222, 1);
$color__gray-dark: rgba(220, 221, 222, 1);

$color__black: #262626;
$color__white: #fff;


//default styles below this line
// --------------------------------


$color__background-body: $color__white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


//mainly for forms & accesibility
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;


//these are main typography colors
$color__link: inherit;
$color__link-visited: inherit;
$color__link-hover: inherit;
$color__text-main: rgba(81, 83, 74, 1);

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
