$font__main: 'Montserrat', sans-serif;// normal, bold
$font__alt: 'Rubik', sans-serif; //normal only
$font__accent: 'Walter Turncoat', cursive;//normal only


$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

