.block.general_copy {
	/*content here*/
	padding: 2em $halfgutter;
	width: 100% !important;
	&.style-1 {
		background-color: $color__gray-light;
	}
	&.style-2 {
		background-color: $color__white;
	}
	.outer-block-wrapper {
		max-width: 800px;

		width: 100%;
	}
	.content {
		//	width: 100%;
	}
}

