.block-two-col {}

[data-type="acf/two-column"] {
	.two-col-admin-wrapper {
		.ui-sortable {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.layout {
			flex-basis: 50%;
			flex-grow: 1;
			flex-shrink: 0;
			min-width: 350px;
			margin: 0;
		}


	}

	.acf-block-component {
		.acf-field.float-left {
			float: left;
			clear: none;
		}
	}

}