.block.logo_block {

	padding: 3rem 0 2rem;

	.outer-block-wrapper {
		@extend .container
	}

	.inner-block-wrapper {}

	h1 {
		text-align: center;
		margin-bottom: 2rem;
	}

	.intro-copy {
		@extend .content;
		margin-bottom: 2rem;
	}

	a {
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		flex-direction: column;
		transition: all .5s;

		img {
			filter: grayscale(100%);
			transition: all .5s;
		}

		&[href=''] {
			pointer-events: none;
			cursor: default;


		}

		&:not([href='']):hover img,
		&:focus {
			outline: none;
			filter: none;
			transform: translate(-50%, -50%) scale(1.1);
		}

	}


	&.grid {
		.logos {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			align-content: center;
			margin: 0 $halfgutter*-1;
		}

		a {
			background: white;
			position: relative;
			flex: 0 0 100%;
			margin: 0 $halfgutter $gutter;
			box-shadow: 0 0 1em 0 rgba(0, 0, 0, .3);
			overflow: hidden;
			padding-top: 82%;

			@media (min-width: $bp_phone) {
				flex: 0 0 calc(50% - #{$gutter});
				padding-top: 41%;
			}

			@media (min-width: $bp_tablet) {
				flex: 0 0 calc(33.33333333% - #{$gutter});
				padding-top: 27.333333333%;
			}


			img {
				display: block;
				position: absolute;
				top: 45%;
				left: 50%;
				max-width: calc(100% - 3rem);
				transform: translate(-50%, -50%);
			}

			.more-details {
				font-weight: 400;
				position: absolute;
				bottom: 0;
				padding-bottom: .5em;
				width: 100%;
				text-align: center;
				display: block;

				&:after {
					display: inline-block;
					content: '';
					margin: auto;
					margin-left: .2em;

					line-height: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: .5em .4em 0 .4em;
					border-color: $color__red transparent transparent transparent;
					transform: rotate(-90deg) translateX(15%) translateY(.25em);
				}
			}
		}




	}
}