.block.countdown {
	padding: 1rem 0;
	background-color: $color__teal;
	color: white;

	.outer-block-wrapper {
		@extend .container
	}

	.inner-block-wrapper {
		@extend .row;
	}

	/*content here*/


	.intro-text {
		color: white;
		font-family: $font__main;
		font-size: 1.25rem;
		font-weight: 400;
		text-align: center;
	}

	.clock {
		font-family: $font__alt;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.ds-element {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		padding: 0 $halfgutter;
		font-weight: 700;
	}

	.ds-element-title {
		@include fluid-type(font-size, 16px, 36px);

	}

	.ds-element-value {
		@include fluid-type(font-size, 40px, 68px);

		line-height: 1;
	}
}