h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__alt;
	line-height: 1.1;
	font-weight: 500;

}

.block {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&:not(:first-child) {
			margin-top: 1em;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
	@include fluid-type(font-size, 32px, 70px);
	font-weight: 900;
	line-height: 1.1;

}

h2 {
	@include fluid-type(font-size, 28px, 65px);
	font-weight: 900;
	line-height: 1.1;
}

h3 {
	@include fluid-type(font-size, 22px, 40px);
	line-height: 1.2;
	font-weight: 700;
}

h4 {
	@include fluid-type(font-size, 18px, 36px);
	line-height: 1.24;
	font-weight: 700;
	margin-bottom: 1rem;
}

h5 {
	@include fluid-type(font-size, 20px, 28px);
	line-height: 1.3;
}

h6 {
	@include fluid-type(font-size, 18px, 24px);
	line-height: 1.34;
}